@import "tailwindcss";

@layer utilities {
  .animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }
}


.topic-box-lg.p-2 {
  display: inline-block;
  position: relative;
  color: #fff;
  height: 31px;
  padding: 0 17px;
  line-height: 35px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 11px;
  font-family: Poppins, sans-serif;
  z-index: 2;
}

.overlay {
  display: none;
  position: fixed !important;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) !important;
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 80s linear infinite;
}

.color-scampi:before {
  border-top: 8px solid #605ca8;
  border-right: 8px solid transparent;
}

.topic-box-lg:before {
  z-index: 1;
  content: "";
  top: 0;
  right: -8px;
  position: absolute;
  width: 0;
  height: 0;
}

.topic-border:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 2px;
}

.topic-box-lg {
  display: inline-block;
  position: relative;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  z-index: 2;
}

.color-scampi:after {
  background-color: #605ca8;
}

.color-scampi.black:after {
  background-color: black;
}

.color-scampi.black:before {
  border-top: 8px solid black;
  border-right: 8px solid transparent;
}

.color-scampi.green:after {
  background-color: #009688;
}

.color-scampi.green:before {
  border-top: 8px solid #009688;
  border-right: 8px solid transparent;
}

.color-scampi.red:after {
  background-color: #e53935;
}

.color-scampi.red:before {
  border-top: 8px solid #e53935;
  border-right: 8px solid transparent;
}

.topic-box-lg:after {
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


.img-overlay-70:before {
  opacity: .7;
  background-image: linear-gradient(transparent, #111), linear-gradient(transparent, #111);
  content: "";
  height: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.banner:after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, .7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

* {
  font-family: ui-monospace;
}



html {
  scroll-behavior: smooth !important;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}